@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

h1,
h2,
h3,
p,
.navbar__title,
.navbar__item,
.button,
.button * {
    text-transform: lowercase;
}

.hero__title {
    display: inline-flex;
    align-items: center;
    gap: 0.1em;
}

.hero__title::before {
    content: "";
    display: inline-block;

    width: 1.75em;
    height: 1.75em;

    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    flex-shrink: 0;
    transform: translateY(0.075em);
}

.container.margin-vert--xl .hero__title::before {
    content: none;
}

[data-theme="light"] .hero__title::before {
    filter: brightness(0);
}

:root {
    --ifm-font-family-base: "PT Serif", serif;

    --ifm-color-primary: rgb(119, 141, 169);
    --ifm-color-primary-dark: rgb(53, 67, 82);
    --ifm-color-primary-darker: rgb(33, 47, 62);
    --ifm-color-primary-darkest: rgb(13, 27, 42);
    --ifm-color-primary-light: rgb(184, 185, 181);
    --ifm-color-primary-lighter: rgb(204, 205, 201);
    --ifm-color-primary-lightest: rgb(224, 225, 221);
    --ifm-code-font-size: 95%;
}

html[data-theme="light"] {
    --ifm-background-surface-color: rgb(224, 225, 221);
    --ifm-background-color: rgb(244, 245, 241);
    --ifm-footer-background-color: rgb(184, 185, 181);
}

html[data-theme="dark"] {
    --ifm-background-surface-color: rgb(13, 27, 42);
    --ifm-background-color: rgb(33, 47, 62);
    --ifm-footer-background-color: rgb(53, 67, 82);
}

[data-theme="light"] .button {
    --ifm-button-background-color: rgb(53, 67, 82);
    --ifm-button-color: rgb(224, 225, 221);
    --ifm-button-border-color: rgb(53, 67, 82);

    background-color: rgb(53, 67, 82);
    color: rgb(224, 225, 221);
    border-color: rgb(53, 67, 82);
}

[data-theme="dark"] .button {
    --ifm-button-background-color: rgb(224, 225, 221);
    --ifm-button-color: rgb(53, 67, 82);
    --ifm-button-border-color: rgb(184, 185, 181);

    background-color: rgb(224, 225, 221);
    color: rgb(53, 67, 82);
    border-color: rgb(184, 185, 181);
}

[class^="memberString"] {
    padding: 15px 20px;
    border-radius: 10px;
}

html[data-theme="light"] [class^="memberString"] {
    background-color: rgb(224, 225, 221);
}

html[data-theme="dark"] [class^="memberString"] {
    background-color: rgb(13, 27, 42);
}

[class^="luaClassTags"] {
    transform: translateY(-25%);
    margin-left: 1.25rem !important;
}

[class^="docTag"] {
    margin: 0 !important;

    border: 1px solid currentColor !important;
    border-radius: 6px !important;

    padding-left: 22px !important;
}

[class^="docTag"]::before {
    display: none !important;
}

[class^="docTag"]::after {
    top: 50% !important;
    left: 7px !important;

    border-radius: 2px !important;
    background-color: currentColor;

    width: 0.3rem !important;
    height: 0.3rem !important;

    rotate: 45deg;
}
